
.nfl-conference-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  padding: 20px;
}

.division-card {
  background: white;
  border-top: 5px solid #013369;
  padding: 15px;
  border-radius: 4px;
}
.team-list {
  list-style: none;
  padding: 0;
}
.team-list li {
  margin: 10px 0;
}
.team-icon-nav {
  width:  24px;
  height: 24px;
  background: none;
  margin-right: 10px;
  display:inline-block;

}
.team-list a {
  display: flex;
  text-decoration: none;
  color:black;
}


